# database url used by prisma
DATABASE_URL="postgresql://user:fAkePa33wrd@localhost:5432/postgres"

# set this to a random string that is long to secure session data
SECRET_COOKIE_PASSWORD=YpV-dnF.2YPzU26frfzPTh!*MC7VjE3w

# sendgrid api key
SENDGRID_API_KEY=**PUT YOUR SEND GRID API KEY HERE!**

# plaid key and secret
PLAID_CLIENT_id=**PUT YOUR PLAID CLIENT ID HERE!**
PLAID_SECRET_SANDBOX=**PUT YOUR PLAID SECRET HERE!**
PLAID_SECRET_DEVELOPMENT=**PUT YOUR PLAID SECRET HERE!**
PLAID_SECRET_PRODUCTION=**PUT YOUR PLAID SECRET HERE!**
